server/data/intellisense_data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="intellisense">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scopes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="scope" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element name="properties">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:string" name="code_completion_hint"/>
                                <xs:element type="xs:string" name="code_insight_hint"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                              <xs:attribute type="xs:string" name="deprecated" use="optional"/>
                              <xs:attribute type="xs:string" name="return_value_scope" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="member_methods">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="method" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:string" name="code_completion_hint"/>
                                <xs:element type="xs:string" name="code_insight_hint"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                              <xs:attribute type="xs:string" name="deprecated" use="optional"/>
                              <xs:attribute type="xs:string" name="return_value_scope" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>