server/data/intellisense_data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="intellisense">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scopes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="scope">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="properties">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="property">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="description" type="xs:string" />
                                <xs:element name="code_completion_hint" type="xs:string" />
                                <xs:element name="code_insight_hint" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="deprecated" type="xs:boolean" use="required" />
                              <xs:attribute name="return_value_scope" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="member_methods">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="method">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="description" type="xs:string" />
                                <xs:element name="code_completion_hint" type="xs:string" />
                                <xs:element name="code_insight_hint" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="deprecated" type="xs:boolean" use="required" />
                              <xs:attribute name="return_value_scope" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>